<!DOCTYPE HTML>
<html>
<head>
  <link rel = stylesheet type = text/css href = '{{url_for('static',filename='styles.css')}}'>
</head>
<body>
  {% include "header.html" %}
  <div class = "menu">
    <div class = "head1">
      <h1> Are you sure you want to delete <font color = "red"><u>{{rest.name}}</u></font></h1>
    </div>
   <form method = 'POST' action = '{{url_for('deleteRestaurant',restaurant_id=restaurant_id)}}'>
     <h2><input type = "submit" value='Delete '>
      <a href = '{{url_for('showRestaurants')}}'>Cancel</h2>
   </form>
 </div>
</body>
</html>
