<!DOCTYPE HTML>
<html>
<head>
  <link rel = stylesheet type = text/css href = '{{url_for('static',filename='styles.css')}}'>
</head>
<body>
  {% include "header.html" %}
  <div class = "menu">
<div class = "head"><h1> Restaurants </h1></div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
     {% for message in messages %}
        <li> <strong>{{message}}</strong> </li>
      {% endfor %}
  {% endif %}
{% endwith %}
<div class = "newmenulink">
  <h2><a href = '{{url_for('newRestaurant')}}'>Create New Restaurant</a></h2>
</div>
{% for restaurant in restaurants %}
   <h3><a href = '{{url_for('showMenu',restaurant_id=restaurant.id)}}'>{{restaurant.name}}</h3>
    
{% endfor %}
</div>
</body>
<html>
